<p class="title">Create new category</p>


<form class="flex-center flex-column" [formGroup]="addForm">
    <mat-form-field appearance="legacy" class="mat-form-field">
        <mat-label for="name">Name</mat-label>
        <input matInput id="name" type="text" formControlName="name">
        <mat-error *ngIf="!name.value">Name is required</mat-error>
        <mat-error *ngIf="name.value && name.errors?.minlength">Length should be more than 2 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="mat-form-field">
        <mat-label for="password">Password</mat-label>
        <input matInput id="category-password" type="password" formControlName="password">
    </mat-form-field>
</form>

<div mat-dialog-actions class="actions">
    <div (click)="onNoClick()" class="cancel-button">
        <p>Cancel</p>
    </div>
    <button mat-button [disabled]="addForm.invalid" [mat-dialog-close]="category" cdkFocusInitial>Add</button>
</div>