<p class="title">
    {{ note.name }}
</p>

<p class="description">
    {{ note.description }}
</p>

<div class="attachments">
    <div class="attachment-title">
        <p>Attachments</p>
        <div class="attach-file">
            <div>
                <mat-icon [inline]="true">add</mat-icon>
            </div>
            <p>Attach file</p>
        </div>
    </div>
    <a href="#" class="attachment" *ngFor="let file of note.files">
        <mat-icon> attach_file</mat-icon>
        {{file.fileName}}
    </a>
</div>

<div mat-dialog-actions class="space-between">
    <button mat-button (click)="onDelete()">Delete</button>
    <button mat-button>Edit</button>
</div>