<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serverUrl" value="https://20200604t223735-dot-jotter-dot-jotter-278509.appspot.com"/>
		<!--<add key="serverUrl" value="http://localhost:5000"/>-->
		<add key="defaultFilePath" value="D:\JotterFiles"/>
	
	</appSettings>
</configuration>