<p class="title">Create new note</p>

<p>
    <mat-form-field appearance="legacy" class="mat-form-field">
        <mat-label for="name">Name</mat-label>
        <input matInput id="name" type="text" [(ngModel)]="name">
    </mat-form-field>
</p>

<p>
    <mat-form-field appearance="legacy" class="mat-form-field">
        <mat-label for="description">Description</mat-label>
        <textarea matInput id="description" [(ngModel)]="description"></textarea>
    </mat-form-field>
</p>

<div mat-dialog-actions class="actions">
    <div (click)="onNoClick()" class="cancel-button"><p>Cancel</p></div>
    <button mat-button [mat-dialog-close]="note" cdkFocusInitial>Add</button>
</div>