<div class="spinner" *ngIf="showLoader">
    <mat-spinner class="spinner" diameter="50" ></mat-spinner>
</div>
<!-- <div class="header">
    <span>{{ user.name }}</span>
</div> -->
<div class="wrapper" *ngIf="!showLoader && isAuthentificated()">
    <div class="categories">
        <p class="category-title">Categories</p>
        <div class="categories-content">
            <div class="no-categories" *ngIf="noCategories()">
                <p>
                    No categories for now
                </p>
            </div>
            <mat-list role="list" class="categories-list">
                <mat-list-item class="listitem" role="listitem" *ngFor="let category of categories"
                    (click)="getCategoryNotes(category.id)" [ngClass]="{ 'active-item': isCategorySelected(category.id) }"> 
                    <div class="category-item">
                        <p>{{ category.name }}</p>
                        <mat-icon [inline]="true" *ngIf="category.isLocked">lock</mat-icon>
                    </div>
                </mat-list-item>
            </mat-list>
            <div class="add-button">
                <div class="content" (click)="addCategory()" type="presentation">
                    <div>
                        <mat-icon [inline]="true">add</mat-icon>
                    </div>
                    <p>Add category</p>
                </div>
            </div>
        </div>
    </div>
    <div class="notes" *ngIf="canShowCategoryNotes()">
        <p class="notes-category-title">{{ selectedCategory.name }}</p>
        <div class="notes-category-content">
            <div class="add-note-button">
                <div class="add-note-button-content" (click)="addNote()" type="presentation">
                    <div>
                        <mat-icon [inline]="true">add</mat-icon>
                    </div>
                    <p>Add note</p>
                </div>
            </div>
            <div class="noNotes" *ngIf="notes == undefined || notes.length == 0"><p>No notes for now</p></div>
            <div class="notesList" *ngIf="notes != undefined && notes.length > 0">
                <div class="note listitem" *ngFor="let note of notes" (click)="openDialog(note)">
                    <p class="note-title">{{note.name }}</p>
                    <p>{{ note.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>